body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  max-width: 600px;
  margin: 30px auto;
}
h1 {
  color: #B8B5FF;
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
li:first-letter {
  text-transform: capitalize;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.weather-app {
  background: #E4FBFF;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(145, 134, 134, 0.3);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dadde1;
}
.temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.day-overview {
  margin-bottom: 18px;
}
.temperature .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-app .btn {
  background-color: #7868E6;
  border: none;
}
